# Database
DATABASE_URL=postgresql://user:password@localhost:5432/farmnav
REDIS_URL=redis://localhost:6379

# APIs
NASA_EARTHDATA_TOKEN=your_nasa_token_here
KENYA_MET_API_KEY=your_kenya_met_key_here
AFRICAS_TALKING_API_KEY=atsk_1c247bc71ddf99c61543e5f89a153953b3a78eeb6aadeee98035b66a7647038685cbfe2a


AFRICAS_TALKING_USERNAME=sandbox
TWILIO_ACCOUNT_SID=your_twilio_sid_here
TWILIO_AUTH_TOKEN=your_twilio_token_here

# Security
JWT_SECRET_KEY=your_secret_key_here
JWT_ALGORITHM=HS256

# Environment
ENVIRONMENT=development
DEBUG=True
